@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Clean Blog - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">
                <h1>All posts</h1>
                <hr class="my-4">

                <!-- Post preview-->
                @foreach (var item in Model)
                {
                    <div class="post-preview">

                        <h2 class="post-title">
                            @Html.ActionLink((string)item.Title, "Details","Post" , new {@year =
                        item.PostedOn.Year, month = item.PostedOn.Month.ToString("00"),
                        title = item.UrlSlug},null)
                        </h2>
                        <h4 class="post-subtitle">@item.PostContent</h4>

                        <p class="post-meta mb-2">
                            Posted
                            @item.PostedOn
                            with rate @Math.Round((decimal)item.TotalRate/item.RateCount, 2) by @item.ViewCount view(s)
                            <br />
                        </p>
                    </div>
                    <hr class="my-4">
                }

                <!-- Pager-->
            </div>
        </div>
    </div>
</body>
</html>




