@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <span class="subheading">A Blog Theme by PhucVH10</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">
                <h1>All posts</h1>
                <hr class="my-4">

                <!-- Post preview-->
                @foreach (var item in Model)
                {
                    <div class="post-preview">

                        <h2 class="post-title">
                            @Html.ActionLink((string)item.Title, "Details","Post" , new {@year =
                        item.PostedOn.Year, month = item.PostedOn.Month.ToString("00"),
                        title = item.UrlSlug},null)
                        </h2>
                        <h4 class="post-subtitle">@item.PostContent</h4>

                        <p class="post-meta mb-2">
                            Posted
                            @item.PostedOn
                            with rate @Math.Round((decimal)item.TotalRate/item.RateCount, 2) by @item.ViewCount view(s)
                            <br />
                        </p>
                    </div>
                    <hr class="my-4">
                }

                <!-- Pager-->
            </div>
        </div>
    </div>




