<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <!--Simple Datatable-->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />

    <!--SB Admin-->
    <link href="/css/style2.css" rel="stylesheet" />
    <!--Font Awesome-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
            crossorigin="anonymous"></script>
    <!--DateTimePicker-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <!--JQuery Validation-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/validation.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/assets/ckeditor/ckeditor.js"></script>

</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/Home">Just Blog</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="@Url.Action("Logout", "Account", new {area=""})">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="/Admin">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Category
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Index","Category",new{area="Admin"})">Categories List</a>

                            </nav>
                        </div>



                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                            Tag
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Index","Tag",new{area="Admin"})">Tags List</a>
                            </nav>
                        </div>
                        <!-- NEwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww-->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePosts" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>
                            Post
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePosts" aria-labelledby="headingThree" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Index","Post",new{area="Admin"})">Posts List</a>
                                <a class="nav-link" href="@Url.Action("Latest","Post",new{area="Admin"})">Latest Posts</a>
                                <a class="nav-link" href="@Url.Action("MostViewed","Post",new{area="Admin"})">Most Viewed Posts</a>
                                <a class="nav-link" href="@Url.Action("Published","Post",new{area="Admin"})">Published Posts</a>
                                <a class="nav-link" href="@Url.Action("Unpublished","Post",new{area="Admin"})">Unpublished Posts</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseComments" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fa-regular fa-comment-dots"></i></div>
                            Comment
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseComments" aria-labelledby="headingFour" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Index","Comment",new{area="Admin"})">Comments List</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseRoles" aria-expanded="false" aria-controls="collapseRoles">
                            <div class="sb-nav-link-icon"><i class="fas fa-unlock"></i></div>
                            Role
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseRoles" aria-labelledby="headingFive" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Index","Role",new{area="Admin"})">Roles List</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            User
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseUsers" aria-labelledby="headingSix" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Index","User",new{area="Admin"})">Users List</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>

            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="/js/script2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-area-demo.js"></script>
    <script src="/assets/demo/chart-bar-demo.js"></script>
    <script src="/js/datatables-simple-demo.js"></script>

    <script src="/js/simple-datatables.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $(".clicking").click(function () { // Click to only happen on announce links
                $("#id").val($(this).data('id'));
                $("#name").val($(this).data('name'));
                $("#url").val($(this).data('url'));
                //$("#description").val($(this).data('description'));
                if ($('#description').length)
                    CKEDITOR.instances['description'].setData($(this).data('description'))
                $('#count').val($(this).data('count'));
                $('#title').val($(this).data('title'));
                $('#content').val($(this).data('content'));

                //$('#published').val($(this).data('published'));
                if (($(this).data('published')) == "True") {
                    $("#published option[value='1']").prop('selected', true);
                }
                else {
                    $("#published option[value='0']").prop('selected', true);
                }
                $('#postedDate').val($(this).data('posteddate'));
                if (($(this).data('modified')) == "True") {
                    $("#modified option[value='1']").prop('selected', true);
                }
                else {
                    $("#modified option[value='0']").prop('selected', true);
                }
                $('#category').val($(this).data('category'));
                $('#viewcount').val($(this).data('viewcount'));
                $('#ratecount').val($(this).data('ratecount'));
                $('#totalrate').val($(this).data('totalrate'));

                $('#role').val($(this).data('roles'));

                $('#modalEdit').modal('show');
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".clickingView").click(function () { // Click to only happen on announce links
                $("#idV").val($(this).data('id'));
                $("#nameV").val($(this).data('name'));
                $("#urlV").val($(this).data('url'));
                $("#descriptionV").val($(this).data('description'));
                $('#countV').val($(this).data('count'));
                $('#contentV').val($(this).data('content'));

                $('#titleV').val($(this).data('title'));
                if (($(this).data('modified')) == "True") {
                    $("#modifiedV option[value='1']").prop('selected', true);
                }
                else {
                    $("#modifiedV option[value='0']").prop('selected', true);
                }

                if (($(this).data('published')) == "True") {
                    $("#publishedV option[value='1']").prop('selected', true);
                }
                else {
                    $("#publishedV option[value='0']").prop('selected', true);
                }
                $('#postedDateV').val($(this).data('posteddate'));
                $('#categoryV').val($(this).data('category'));
                $('#viewcountV').val($(this).data('viewcount'));
                $('#ratecountV').val($(this).data('ratecount'));
                $('#totalrateV').val($(this).data('totalrate'));

                $('#emailV').val($(this).data('email'));
                $('#postV').val($(this).data('post'));
                $('#headerV').val($(this).data('header'));
                $('#timeV').val($(this).data('time'));
                $('#stampV').val($(this).data('stamp'));
                $('#phoneV').val($(this).data('phone'));
                $('#roleV').val($(this).data('roles'));
                $('#modalView').modal('show');
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
    <script>
        if ($("#description").length) {
            CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
            CKEDITOR.config.shiftEnterMode = CKEDITOR.ENTER_BR;
            CKEDITOR.replace("description")
            CKEDITOR.replace("descriptionA")
        }

    </script>
</body>
</html>